.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.uppercase{
    text-transform: uppercase ;
}
.bold{
    font-weight: bolder;
}
.space-between{
    justify-content: space-between;
}
.mx2{
    margin-left: 12px;
    margin-right: 12px;
}
.container{
    padding: 0 10vw;
}
